.tooling-apps-cache/app/createAccount/createaccount.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="cf793c28-3da9-412c-a83e-d0fe25612de9" >
		<http:listener-connection host="localhost" port="8082" />
	</http:listener-config>
	<flow name="createaccountFlow" doc:id="c9dcd1a9-10c8-431d-b93e-e64d46851000" >
		<http:listener doc:name="Listener" doc:id="f9072768-2c6c-4934-87ea-148f4ab4b696" config-ref="HTTP_Listener_config" path="/createaccount"/>
		<logger level="INFO" doc:name="Logger" doc:id="11648f9e-2448-42d2-860a-c8ae3b1bbc2b" message="final response.........#[payload]"/>
		<flow-ref doc:name="createaccountFlow1" doc:id="a59c7a19-1722-49f1-8190-6934ebd9bd3d" name="createaccountFlow1"/>
		<set-payload value="accounted created successfully...." doc:name="Set Payload" doc:id="6ec0f89e-0f51-4f7a-998f-fa52838ca4fc" />
		<logger level="INFO" doc:name="Logger" doc:id="12d46856-74cc-4368-ae02-27f62ff326b2" message="#[payload]"/>
	</flow>
	<flow name="createaccountFlow1" doc:id="a6b94a7c-fb20-4e9c-a041-42a0802456cd" >
		<set-payload value="welcome to mule esb training" doc:name="Set Payload" doc:id="aeede8a9-959f-45c0-a1a2-e637e6bbd673" />
		<logger level="INFO" doc:name="Logger" doc:id="50db885b-cfe4-4dda-b2cc-bc96f8f73f95" message="method is.......#[attributes.method]" />
	</flow>
</mule>