flightsapi10th/src/main/mule/indigoFlights.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	
	
	<flow name="indigoFlightsFlow" doc:id="ce6e8f45-d3df-4e70-b9cc-5158f8946d7d" >
		<logger level="INFO" doc:name="Logger" doc:id="17ba0dac-3da2-450d-b177-66f819b4f449" message="indigoFlgihtsFlow starts............"/>
		<http:request method="GET" doc:name="Request" doc:id="bde937ce-1061-4e2e-98b8-1f466a049911"  config-ref="HTTP_Request_configuration" path="/api/getFlights">
			<http:query-params ><![CDATA[#[output application/java
---
{
	from : attributes.queryParams.from,
	to : attributes.queryParams.to,
	depatureDate : attributes.queryParams.doj
}]]]></http:query-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="de634064-df00-4a32-9334-b450339b8487" message="Final payload of .IndigoFlightsFlow..................#[payload]"/>
	</flow>
</mule>
